/* code for index.html */
/*code for the header (and any other elements that share the same class/type name)*/
.header-area {
  background-color: rgba(244, 244, 244, 0.85);
  width: 80%;
  position: absolute;
  padding: 20px 0;
  margin-top: 30px;
  border-radius: 20px;
  z-index: 1;
  transform: translate(12%, 0);
}

.header-area h2 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 1000;
  font-style: italic;
  padding: 5px;
  foat: center;
  text-align: center;
}

.select-menu table {
  float: center;
}

.select-menu table tr {
  display: inline;
  position: relative;
}

.select-menu table tr td a {
  color: #131230;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 13px;
  text-decoration: none;
}

.select-menu table tr td a:hover {
  font-weight: 800;
  color: black;
}

.select-menu table tr td a.active {
  text-decoration: underline;
}

/*code for the banner (and any other elements that share the same class/type name)*/
.banner-area-index {
  font-family: "Playfair Display", serif;
  color: white;
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/index-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-sub-area {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  min-height: 500px;
  padding-top: calc(30vh + 200px);
}

/*code for the "quick information" in index.html(and any other elements that share the same class/type name)*/
.information-area {
  position: relative;
  min-height: 100vh;
  color: white;
  background-color: rgba(40, 46, 52, 0.8);
}

.intro {
  padding: 30px;
  margin-right: 50px;
}

.intro p {
  font-size: 16px;
}

.information-area-subtitle {
  padding-left: 30px;
}

.information-area-subtitle h3 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-style: italic;
}

.information-area-image {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 360px;
  width: 360px;
  border: 2px solid #b0b0b0;
  border-radius: 10px;
}

@media (max-width:992px) {
  .information-area-image {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 360px;
    width: 360px;
  }

  .information-area-subtitle {
    margin-top: 10px;
    text-align: center;
  }

  .intro {
    text-align: center;
    margin: 10px;
    margin-right: 10px;
  }
}

@media (max-width:768px) {
  .information-area-image {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
  }
}

@media (max-width:576px) {
  .information-area-image {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 260px;
    width: 260px;
  }
}

/*code for the "menu preview" in index.html (and any other elements that share the same class/type name)*/
.menu-preview-area {
  min-height: 100vh;
  margin-top: -5px;
  background-image: url(../images/index-background-image.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-sub-area {
  min-height: 100vh;
  padding-bottom: 100px;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-preview-item {
  margin: 20px;
  padding-bottom: 20px;
}

.item {
  width: 250px;
  background-color: rgba(170, 170, 170);
  border-radius: 20px 20px 20px 20px;
}

.item:hover {
  background-color: #ffcc66;
}

.item:hover h5 {
  font-weight: 1000;
}

.item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  border-radius: 20px 20px 20px 20px;
}

.menu-preview-image {
  height: 250px;
  width: 250px;
  border-radius: 20px 20px 0 0;
}

.menu-preview-description h5 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.menu-preview-description {
  width: 250px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.redirect-link {
  font-size: 16px;
  padding-bottom: 40px;
}

.redirect-link a {
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.redirect-link a:hover {
  font-weight: 700;
  color: red;
}

@media(max-width:992px) {
  .item {
    width: 205px;
  }

  .menu-preview-image {
    height: 205px;
    width: 205px;
  }

  .menu-preview-description {
    width: 205px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-preview-description h5 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
  }
}

@media(max-width:576px) {
  .item {
    width: 190px;
  }

  .menu-preview-image {
    height: 190px;
    width: 190px;
  }

  .menu-preview-description {
    width: 190px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-preview-description h5 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
  }
}

/*code for the "reviews" in index.html (and any other elements that share the same class/type name)*/
.reviews-area {
  min-height: 60vh;
  background-color: rgba(40, 46, 52, 0.8);
}

.reviews {
  display: none;
}

.slideshow-area {
  max-width: 1000px;
  min-height: 330px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 9px 0 0 9px;
}

.prev {
  left: 0;
  border-radius: 0 9px 9px 0;
}

.next:hover, .prev:hover {
  background-color: #404040;
}

.text h3 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.text p {
  font-size: 16px;
}

/*code for about.html*/
/*code for the banner in about.html, menu.html, and gallery.html*/
.banner-area-about {
  font-family: "Playfair Display", serif;
  color: white;
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/about-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*code for the mission statement*/
.mission-statment-area {
  min-height: 100vh;
  background-image: url(../images/about-background-image-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.mission-statement-sub-area {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

/*code for the service information*/
.service-information-area {
  min-height: 50vh;
  background-color: rgba(200, 200, 200);
}

.service-information-text {
  font-size: 16px;
  display: block;
}

/*code for about the chef*/
.chef-biography-area {
  min-height: 100vh;
  padding: 0px;
  background-image: url(../images/about-background-image-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.chef-biography-sub-area {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

/*code for menu.html*/
/*code for the banner in menu.html*/
.banner-area-menu {
  font-family: "Playfair Display", serif;
  color: white;
  background-image: url(../images/menu-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}

/*code for the "Title" in menu.html*/
.title-area {
  height: 15vh;
  padding: 40px;
  margin-bottom: 10px;
}

.menu-title-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-style: italic;
  foat: center;
}

/*code for the "items" in menu.html*/
.pre-item-text {
  text-align: center;
}

.tab-content {
  width: 100%;
}

.add-to-cart-button {
  width: 70px;
  border-radius: 10px;
  height: 30px;
  font-size: 14px;
  background-color: #f4f4f4;
  border: 1px solid #b0b0b0;
}

.add-to-cart-button:hover {
  background-color: #81B42C;
  border: 1px solid #b0b0b0;
}

.disclaimer-text {
  text-align: center;
}

/*Code used in gallery.html*/
/*Code used in banner section */
.banner-area-gallery {
  font-family: "Playfair Display", serif;
  color: white;
  background-image: url(../images/gallery-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  padding-top: calc(30vh + 200px);
}

/*code used in the images section*/
.images-area {
  min-height: 100vh;
  padding: 20px;
}

.image-section {
  position: relative;
  width: 285px;
  height: 285px;
  margin-bottom: 20px;
}

.image-description {
  border-radius: 10px;
  padding: 20px;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 285px;
  height: 285px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  position: absolute;
  font-size: 16px;
}

.image-section:hover .image-description {
  visibility: visible;
  opacity: 1;
}

.image-section:hover .images-area-image {
  opacity: 0.5;
}

.images-area-image {
  width: 285px;
  height: 285px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #b0b0b0;
}

@media (max-width:1200px) {
  .images-area-image {
    width: 225px;
    height: 225px;
  }

  .image-section {
    width: 225px;
    height: 225px;
  }

  .image-description {
    width: 225px;
    height: 225px;
  }
}

@media (max-width:992px) {
  .images-area-image {
    width: 295px;
    height: 295px;
  }

  .image-section {
    width: 295px;
    height: 295px;
  }

  .image-description {
    width: 295px;
    height: 295px;
  }
}

@media (max-width:768px) {
  .images-area-image {
    width: 225px;
    height: 225px;
  }

  .image-section {
    width: 225px;
    height: 225px;
  }

  .image-description {
    width: 225px;
    height: 225px;
  }
}

@media (max-width:576px) {
  .images-area-image {
    width: 200px;
    height: 200px;
  }

  .image-section {
    width: 200px;
    height: 200px;
  }

  .image-description {
    width: 200px;
    height: 200px;
  }
}

/*code used in all sections*/
/*code for the footer (and any other elements that share the same class/type name)*/
.footer-area-gallery {
  background-color: rgba(36, 55, 78);
  color: white;
  padding-bottom: 10px;
}

.footer-area-menu {
  background-color: rgba(180, 174, 173);
  color: black;
  padding-bottom: 10px;
}

.footer-area-about {
  background-color: rgba(23, 41, 64);
  color: white;
  padding-bottom: 10px;
}

.footer-area-index {
  background-color: rgba(94, 98, 100);
  color: white;
  padding-bottom: 10px;
}

.footer-widgets-1, .footer-widgets-2 {
  padding: 20px;
}

.footer-widgets-1 a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 13px;
  text-decoration: none;
}

.footer-widgets-1 a:hover, .footer-widgets-2 a:hover {
  font-weight: 800;
}

.footer-widgets-2 a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 13px;
  text-decoration: none;
}

.footer-widgets h6 {
  padding: 13px;
  font-weight: 800;
  margin-bottom: -10px;
}

/*code used for body*/
.gallery-body {
  background-color: rgba(200, 200, 200);
}

.about-body {
  background-color: rgba(0, 0, 0, 0.1);
}

.index-body {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-body {
  background-color: rgba(200, 200, 200);
}

/*General code*/
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.subtitle {
  margin-top: 40px;
  padding-left: 30px;
}

.subtitle-2 {
  margin-top: 40px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.subtitle-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle h3, .subtitle-2 h3, .subtitle-3 h3 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-style: italic;
  foat: center;
}

.subtitle p {
  font-size: 16px;
}